* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	background-color: black;
	color: white;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-links ul {
	display: flex;
	list-style: none;
	gap: 20px;
}
a {
	color: white;
	text-decoration: none;
	font-size: 22px;
}

.nav button {
	background-color: white;
	border: none;
	color: black;
	font-size: 22px;
	cursor: pointer;
	padding: 4px 8px;
}

.app-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.movie-card {
	transition-duration: 0.4s;
}

.movie-card:hover {
	transform: scale(1.1);
}
